<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Piuma - A Multipurpose Countdown HTML Template</title>
	
	<link <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&amp;subset=korean" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- 부가적인 테마 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="some keywords that best describe your business">
	<meta name="description" content="a short description of your company">
	<meta name="author" content="SRPACDY">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/css/bootstrap-theme.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/css/layout.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/css/background.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" media="screen">
	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<style>
			button {
				font-family: "Nanum Gothic", sans-serif;
				font-size: 23px;
				font-weight: bold;
			}
			button.a {
				font-weight: bold;
			}
			button.b {
				font-weight: 400;
			}
			a:link { color: red;}
			a:visited { color: white;}
			a:hover { color: gray;}

			ul{
				list-style:none; text-decoration:none;
			}
			li{
				float: left;
			}
	</style>

<style id="__web-inspector-hide-shortcut-style__">

.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
{
    visibility: hidden !important;
}
</style></head>
</head>
<body style="" class="">

	<!-- Primary Page Layout
	================================================== -->

<div class="header bg">
		
		<div class="row">
			<header class="col-xs-12 text-center">
				<div class="logo">
					<img src="/images/logo.png">
					<div class="text_box"S style="font-size:3.5em; font-weight: bold;">ZOO - CHAT</div>
				</div>
			</header>
		</div>
		<ul>
			<li>
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<div class="btn-group" role="group">
						<a href="/chat1">
							<button type="button" class="btn btn-info btn-lg">정보공유방</button>
						</a>
					</div>
					<div class="btn-group" role="group">
						<a href="/chat2">
							<button type="button" class="btn btn-warning btn-lg">질의응답방</button>
						</a>
					</div>
					<div class="btn-group" role="group">
						<a href="/chat3">
							<button type="button" class="btn btn-success btn-lg">수다방</button>
						</a>
					</div>
				</div>
			<li>
		</ul>

</div>
	



	
		
	








	<!-- JS
	================================================== -->
	
	<script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="/js/scroll.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/jquery.countdown.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/countdown.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/supersized.3.2.7.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/images.js" charset="utf-8"></script>
	<script type="text/javascript" src="/js/form.js" charset="utf-8"></script>

	<!-- End Document
	================================================== -->


<ul id="supersized" class="quality" style="visibility: visible;"><li class="slide-0 activeslide"><a target="_blank"><img src="/images/background/01.jpg" style="height: 8px; width: 861.905px; left: -345px; top: 0px;"></a></li></ul>
</body>
</html>